<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.lab409.mapper.ArticleMapper">

    <select id="getArticleByState" resultType="org.lab409.entity.Article">
        SELECT a.id,a.`title`,a.`editTime`,a.`pageView`,a.`state`,u.`nickname`,c.`cateName`,a.uid FROM article a,user
        u,category c WHERE a.`cid`=c.`id` AND a.`uid`=u.`id`
        <if test="state!=-2">
            and a.uid=#{uid}
        </if>
        <if test="state!=-1 and state!=-2">
            and a.state=#{state}
        </if>
        <if test="state==-2">
            and a.state=1
        </if>
        <if test="keywords!=null">
            AND title LIKE concat('%',#{keywords},'%')
        </if>
        ORDER BY a.editTime DESC limit #{start},#{count};
    </select>
    <select id="getArticleCountByState" resultType="int">
        SELECT count(*) FROM article
        <where>
            <if test="state!=-1">
                AND state=#{state}
            </if>
            <if test="uid!=null">
                AND uid=#{uid}
            </if>
            <if test="keywords!=null">
                AND title LIKE concat('%',#{keywords},'%')
            </if>
        </where>
    </select>


    <resultMap id="BaseResultMap" type="org.lab409.entity.Article">
        <id column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="cid" property="cid"/>
        <result column="uid" property="uid"/>
        <result column="publishDate" property="publishDate"/>
        <result column="editTime" property="editTime"/>
        <result column="state" property="state"/>
        <result column="pageView" property="pageView"/>
        <result column="mdContent" property="mdContent"/>
        <result column="htmlContent" property="htmlContent"/>
        <result column="summary" property="summary"/>
        <result column="nickname" property="nickname"/>
        <result column="cateName" property="cateName"/>
    </resultMap>

</mapper>